#Constants {
    includeNativeBool: true; 
    scrollVisibleBool: false;
    hideLeftSideMenuBool:false;
}

@media cn1{

    loadimages{
        background-image: 
            url(../assets/images/avater.png),
            url(../assets/images/blueicon.png),
            url(../assets/images/background.jpg),
            url(../assets/images/whiteicon.png),
            url(../assets/images/underline.png),
            url(../assets/images/logo.png),
            url(../assets/images/expense.png),
            url(../assets/images/ime.png),
            url(../assets/images/income.png),
            url(../assets/images/empty.png),
            url(../assets/images/item.png),
            url(../assets/images/purchase.png),
            url(../assets/images/sale.png),
            url(../assets/images/user.png),
            url(../assets/images/biz.jpeg);
    }

    * {
        background-color: transparent;
    }

    /*
    ----------------------------------
    LoginForm
    ----------------------------------
    */
    Login-TextFields{
        font-size: 3mm;
        margin: 0.5mm 1mm 0.5mm 1mm;
        padding: 1mm;
        color: white;
        background: transparent;
    }
    Login-Field-Container{
        border: none;
        border-bottom: 0.25mm solid white;
        padding-top: 5mm;
        margin: 0mm;
    }
    LoginFields-Container {
        width: auto;
        height: auto;
        margin: 0mm 2mm 0mm 2mm;
        background-color: transparent;
    }
    LoginForm-Background{
        background-image: url(../assets/images/background.jpg);
        cn1-background-type: cn1-image-scaled-fill;
        padding: 5mm;
        margin:0mm;
        opacity: 0.7;
    }
    Logo-Container{
        background: none;
    }
    Mask-Button{
        color: white;
    }
    Login-Button {
        background-color: #0052cc;
        border-radius: 3mm;
        border: none;
        padding: 1mm 2mm 1mm 2mm;
        color: white;
        font-size: 3mm;
        text-align: center;
        margin: 2mm 3mm 2mm 3mm;
    }
    Forgot-Button{
        text-align: right;
        color: white;
        font-style: italic;
        font-size: 2.5mm;
        margin: 0px;
    }
    SignUp-Button{
        color: white;
        margin: 1mm 2mm 1mm 0mm;
        text-align: right; 
    }
    Dont-Have-Account-Label{
        color: #ccffff;
        margin: 1mm 2mm 1mm 0mm;
        text-align: center; 
    }
    Dont-Have-Account-Login-Label{
        color: whitesmoke;
        margin: 1mm 2mm 1mm 0mm;
        text-align: center; 
    }
    Logo-Area{
        text-align: center;
    }
    Copyright{
        color: white;
    }
    /*
----------------------------------
SignUp Process
----------------------------------
    */
    Container-Background{
        border-radius: 3mm;
        padding: 2mm;
        margin:0px;
    }
    Next-Button {
        background-color: white;
        border-radius: 3mm;
        border: none;
        padding: 1mm 2mm 1mm 2mm;
        color: #0052cc;
        font-size: 3mm;
        text-align: center;
        margin: 2mm 3mm 2mm 3mm;
    }
    Module-Selection-CheckBox{
        font-size: 3mm;
        text-align: left;
        color: white;
        padding: 2mm 0mm 0mm 0mm;
        margin: 1mm 2mm 1mm 3mm;
    }
    SignUp-Link{
        color: white;
        margin: 1mm 2mm 1mm 0mm;
        text-align: right; 
    }
    Dont-Have-Account-Label{
        color: black;
        margin: 1mm 2mm 1mm 0mm;
        text-align: center; 
    }

    /*
     ----------------------------------
     Common Styles
     ----------------------------------
    */
    Blue-Form-Background{
        background-color: #0052cc;
        margin: 0px;
        padding: 0px;
    }
    UnPaddedCard{
        margin: 0.5mm;
        padding: 0mm;
        background-color: white;
        border: 0.2mm solid #0052cc;
        border-radius: 0.7mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }
    Card{
        margin: 1mm;
        padding: 1mm;
        background-color: white;
        border: 0.2mm solid #0052cc;
        border-radius: 0.7mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }
    Cardless{
        margin: 1mm;
        background-color: white;
        border: 0.2mm solid #0052cc;
        border-radius: 0.7mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }
    Commons-TextField-BeforeError{
        color: black;
        border-style: solid;
        border-radius: 0mm;
        border: none;
        border-color: #BDBDBD;
        text-align: left;
        margin: 0.4mm;
        padding: 0.2mm;
        background-color: transparent; 

    }
    Commons-TextField-BeforeError-Blue{
        color: white;
        border-style: solid;
        border-radius: 0mm;
        border: none;
        border-color: #BDBDBD;
        text-align: left;
        margin: 0.4mm;
        padding: 0.2mm;
        background-color: transparent; 

    }
    Commons-TextField-AfterError{
        border-style: solid;
        border-radius: 0mm;
        border-bottom: 0.15mm;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: #BDBDBD;
        text-align: left;
        margin: 0.4mm;
        padding: 0.2mm;
        background-color: transparent; 
        color: black;
    }
    Commons-TextField-AfterError-Blue{
        border-style: solid;
        border-radius: 0mm;
        border-bottom: 0.15mm;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: #BDBDBD;
        text-align: left;
        margin: 0.4mm;
        padding: 0.2mm;
        background-color: transparent; 
        color: white;
    }
    Borderless-Commons-TextField-Box{
        margin: 0.4mm 0.4mm 0mm 0.4mm;
        padding: 0.8mm 0.8mm 0mm 0.8mm;
        background-color: transparent; 
        color: black;
    }
    Commons-TextField-Box{
        border-style: solid;
        border-radius: 0.5mm;
        border: 0.15mm;
        border-color: #999999;
        margin: 0.4mm;
        padding: 0.8mm;
        background-color: transparent; 
        color: black;
    }
    Commons-TextField-Box-Blue{
        border-style: solid;
        border-radius: 0.5mm;
        border: 0.15mm;
        border-color: #999999;
        margin: 0.4mm;
        padding: 0.8mm;
        background-color: transparent; 
        color: white;
    }
    Commons-TextField-Labels{
        text-align: left;
        margin: 0.2mm 0.4mm 0.4mm 0.4mm;
        color: #999999;
        font-size: 2.6mm;
    }
    Commons-TextField-Labels-Blue{
        text-align: left;
        margin: 0.2mm 0.4mm 0.4mm 0.4mm;
        color: #999999;
        font-size: 2.6mm;
    }
    Commons-TextField-ValidationLabels{
        text-align: left;
        margin: 0.1mm;
        color: red;
        font-size: 1.8mm;
    }
    Commons-TextField-ValidationLabels-Blue{
        text-align: left;
        margin: 0.1mm;
        color: red;
        font-size: 1.8mm;
    }
    Commons-Space{
        background-color: transparent;
        border: none;
        margin: 1.7mm;
    }
    Commons-BlueButton{
        background-color: #0052cc;
        padding: 3mm;
    }
    Commons-InfiniteList{
        margin: 0.3mm 0.1mm 0.1mm 0.1mm;
        padding: 1mm 2mm 1mm 2mm;
    }

    Commons-InfiniteList-EvenRow{
        margin-bottom: 0.1mm;
        background-color: rgb(236,239,241);
        padding: 1mm 2mm 1mm 2mm;
    }

    Commons-InfiniteList-OddRow{
        margin-bottom: 0.1mm;
        background-color: rgb(250,250,250);
        padding: 1mm 2mm 1mm 2mm;
    }
    /*    Commons-EntryLine-Gray-Medium{
            color: #999999;
            font-size: 2.5mm;
            font-family: "native:MainRegular";
        }
        Commons-EntryLine-Black-Large{
            color: black;
            font-size: 3mm;
            font-family: "native:MainRegular";
        }
        Commons-EntryLine-Black-Medium{
            color: black;
            font-size: 2.5mm;
            font-family: "native:MainRegular";
        }
        Commons-EntryLine-Green-Medium{
            color: #006600;
            font-size: 2.5mm;
            font-family: "native:MainRegular";
        }
        Commons-EntryLine-Blue-Medium{
            color: #00cc33;
            font-size: 2.5mm;
            font-family: "native:MainRegular";
        }*/
    Red-Pill{
        background: cn1-pill-border;
        background-color: #ff0033;
        color: white;
        font-size: 2.5mm;
        font-family: "native:MainRegular";
        border: none;
        text-align: center;
        padding-right: 1mm;
        padding-left: 1mm;
    }
    Light-Blue-Pill{
        background: cn1-pill-border;
        background-color: #0099ff;
        color: white;
        font-size: 2.5mm;
        font-family: "native:MainRegular";
        border: none;
        text-align: center;
        padding-right: 1mm;
        padding-left: 1mm;
    }
    Word-Button{
        color: #0052cc;
        font-size: 2.5mm;
        text-align: center;
        margin: 1mm;
        padding: 1mm;
    }
    Word-Button-Blue{
        color: white;
        font-size: 2.5mm;
        text-align: center;
        margin: 1mm;
        padding: 1mm;
    }
    Dialog-Container{
        margin: 0px;
        padding: 1mm;
        border: 0.2mm solid #0052cc;
        border-radius: 3mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }
    Dialog-Title{
        font-size: 3mm;
        text-align: center;
        color: #0052cc;
        padding: 2mm;;
        border-bottom: 0.3mm solid;
        border-color: #0052cc;
        margin-left: 2mm;
        margin-right: 2mm;
    }
    Dialog-UIID{
        margin: 0px;
        padding: 1mm;
        border: 0.2mm solid #666666;
        background-color: white;
        border-radius: 0.5mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/ 
    }
    Dialog-ContentPane{
        padding: 2mm 2mm 0mm 2mm;
    }
    Success-Snackbar{
        margin: 2mm;
        padding: 1mm;
        background-color: #0052cc;
        border: 0.2mm solid white;
        border-radius: 0.7mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }
    Loading-Snackbar{
        margin: 2mm;
        padding: 1mm;
        background-color: #003300;
        border: 0.2mm solid white;
        border-radius: 0.7mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }
    Failure-Snackbar{
        margin: 2mm;
        padding: 1mm;
        background-color: red;
        border: 0.2mm solid white;
        border-radius: 0.7mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }

    Warning-Snackbar{
        margin: 2mm;
        padding: 1mm;
        background-color: darkred;
        border: 0.2mm solid white;
        border-radius: 0.7mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }
    Snackbar-Message{
        color: white;
        font-size: 3mm;
        text-align: center;
    }
    White-Background{
        background-color: white;
        margin: 0px;
        padding: 0px;
    }
    Form-Background{
        background-color: white;
        margin: 0px;
        padding: 0px;
    }
    WhiteSmoke-Background{
        background-color: whitesmoke;
        margin: 0px;
        padding: 0px;
    }
    List-Line1{
        color: #006600;
        font-size: 3mm;
    }
    List-Line2{
        color: #990000;
        font-size: 2.5mm;
    }
    List-Line3{
        color: gray;
        font-size: 2.5mm;
    }
    List-Line11{
        color: #000066;
        font-size: 3mm;
    }
    List-Line22{
        color: #cc0066;
        font-size: 2.5mm;
    }
    List-Line33{
        color: #0099ff;
        font-size: 2.5mm;
    }
    /*
        ----------------------------------
        Toolbars
        ----------------------------------
    */
    ToolBar{
        background-color: #0052cc;
        margin: 0px;
        padding: 1.5mm;
    }

    Toolbar-HeaderLabel{
        color: white;
        padding: 0px;
        margin: 0px;
        font-size: 3mm;
        text-align: center;
    }

    Toolbar-Hambugger{
        color: white;
    }

    OverFlowButton.unselected{
        background-color: #0052cc;
        color: white;
        padding: 1mm;
        margin: 0px;
        border: 0px;
    }
    TitleCommand{
        color: white;
        padding: 0mm 0mm 0mm 1mm;
    }
    ToolbarSearch{
        background-color: #0052cc;
        border: none;
        margin: 0px;
        padding: 1.5mm;
        text-align: center;
    }
    TextFieldSearch{
        color: white;
        font-family: "native:MainRegular";
        font-size: 2.8mm;
        margin: 0px;
        padding: 0mm;
    }

    /*InitForm*/
    SideCommand{
        background-color: white;
        color: #0052cc;
        font-size: 2.9mm;
        font-family: "native:MainRegular";
        border: none;
        padding-left: 2mm;
        padding-bottom: 2mm;
        padding-top: 2mm;
        margin: 0mm;
        border-bottom: 0.25mm solid #0052cc;        
    }
    SideNavigationPanel{
        background-color: white;
        color: #0052cc;
        padding: 0mm;
        margin: 0px;
    }
    TitleArea, Container{
        border: none;
        margin: 0px;
        padding: 0mm;
    } 
    ContentPane{
        margin: 0px;
        padding:0mm;
    }
    Avater-Border{
        background: cn1-round-border;
        border: 0.6mm solid white;
        background: #F5F5F5;
        text-align:center;
    }
    SideMenu-EditUser-icon{
        background: cn1-round-border;
        border: 0.3mm solid #0052cc;
        background: #F5F5F5;
        text-align:center;
        padding:1.2mm;
    }

    /*
      ----------------------------------
      Side Menu
      ----------------------------------
    */

    SideMenu-TopArea{
        background-color: #0052cc;
        padding: 1mm;
        margin: 0px;
    }

    SideMenu-TopArea-ProfilePicture{
        padding: 1mm;
        margin: 2mm 3mm 1mm 3mm;
        text-align: center;
    }

    SideMenu-TopArea-UserName{
        color: white;
        text-align: center;
        font-size: 2.7mm;
    }

    SideMenu-TopArea-RoleName{
        color: white;
        text-align: left;
        font-size: 3mm;
    }

    SideMenu-TopArea-CompanyName{
        color: white;
        text-align: center;
        font-size: 3.5mm;

    }
    SideMenu-TopArea-ComponentsBox{
        background-color: #0052cc;
        padding: 1mm;
        margin: 0px;
    }

    SideMenu-TopArea-Slogan{
        color: #0052cc;
        font-size: 2.8mm;
        text-align: center;
    }
    SideMenu-TopArea-Logo{
        background-color: white;
        padding: 0mm;
        margin: 0px;
    }
    /*Items*/
    Bottom-Container{
        background-color: white;
        border-radius: 1mm 1mm 0mm 0mm;
        margin-top: 10mm;
        margin-left: 0px;
        margin-right: 0px; 
        padding-top: 10mm;
    }
    Top-Container{
        background-color: transparent;
        margin-top: 1mm;
        margin-left: 0px;
        margin-right: 0px; 
    }
    Camera-Icons{
        background: cn1-round-border;
        border: 0.2mm solid #EEEEEE;
        background: #0052cc;
        text-align:center;
        padding: 0px;
        padding:1mm;

    }
    /*Sale*/
    FCI-NewClient-TopBackground{
        background-color: #0052cc;
        padding: 1mm;
        margin: 0px;
    }
    FCI-NewClient-Top-Link{
        color: white;
        margin: 1mm 2mm 1mm 0mm;
        text-decoration: underline;
        text-align: right; 
    }
    BlueLink{
        color: #0052cc;
        /*margin: 1mm 2mm 1mm 0mm;*/
    }

    /*Dashboard*/
    Blue-Card-Container{
        background-color: dodgerblue;
        margin: 0px;
        padding: 0px;
    }
    ThemeBlue-Card-Container{
        background-color: dodgerblue;
        margin: 0px;
        padding: 0px;
        border-radius: 0mm 0.7mm 0mm 0mm;
    }
    Indigo-Card-Container{
        background-color: #0066ff;
        margin: 0px;
        padding: 0px;
    }
    Purple-Card-Container{
        background-color: #0066ff;
        margin: 0px;
    }
    Blue-Icon-Card-Container{
        background-color: #0066ff;
        margin: 0px;
        padding: 0mm 1mm 0mm 1mm;
        border-radius: 0.7mm 0mm 0mm 0mm;                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    }

    Indigo-Icon-Card-Container{
        background-color: dodgerblue;
        margin: 0px;
        padding: 0mm 1mm 0mm 1mm;
    }

    Purple-Icon-Card-Container{
        background-color: dodgerblue;
        margin: 0px;
        padding: 0mm 1mm 0mm 1mm;
    }

    ThemeBlue-Icon-Card-Container{
        background-color: #0066ff;
        margin: 0px;
        padding: 0mm 1mm 0mm 1mm;
    }

    Final-Card-Container{
        background-color: transparent;
        padding: 0mm;
        margin: 0px;
        border-color: transparent;
    }
    Line-Graph-Container{
        background-color: white;
        border-radius: 1.5mm;
        border-color: #0052cc;
        margin: 0.2mm;
        padding: 0.5mm ;
    }
    Pie-Chart-Container{
        background-color: white;
        margin: 0.2mm;
        padding: 1mm ;
    }
    Graph-Separator{
        margin-bottom: 1mm;
    }
    Individual-Graph-Container{
        background-color: white;
        border-radius: 1.5mm;
        border-color: #0052cc;
        margin: 0px;
        padding: 2mm ;
        /*box-shadow: 3pt 3pt 5pt 7px rgba(0,0,0,0.4);*/ 
    }
    Period-Button{
        background-color: transparent;
        padding: 0.5mm 2mm 0.5mm 2mm;
        border-radius: 1mm;
        border-color: #0052cc;
        border: 0.1mm solid;
    }
    PieChart-Title{
        color: #0052cc;
    }
    Detail-Container{
        background-color: white;
        border-color: #0052cc;
        margin: 0.2mm;
        padding: 1mm ;
        border-radius: 2mm 2mm 2mm 2mm;
    }
    Sheet-Box{
        padding: 1mm;
        border-right: 0.1mm solid #999999;
    }
    Sheet-Box-Nobox{
        padding: 1mm;
    }
    Total-Box{
        border-top: 0.1mm solid #999999;
        border-bottom: 0.1mm solid #999999;
    }
    Figure-Labels{
        color: black;
        font-size: 1.5mm;
    }
    Header-Labels{
        color: black;
        font-size: 1.7mm;
    }
    Graph-Separator{
        margin-bottom: 1mm;
    }
    FDT-Top-Container-Labels{
        color: white;
        margin: 0.7mm;
        padding: 0mm 1mm 0mm 1mm;
    }
    HeaderLabel{
        text-align: left;
        color: #0052cc;
        font-size: 2.8mm;
        font-family: "native:MainRegular";
        padding: 0.5mm 0mm 0.5mm 0mm;  
        margin-bottom: 0.5mm;
    }
    /*Settings*/
    Top-Settings-Container{
        background-color: #ecf5fb;
        margin-top: 10mm;
        margin-left: 1mm;
        margin-right: 1mm; 
        padding-top: 10mm;
        padding-bottom: 4mm;
        padding-left: 4mm;
        padding-right: 4mm;
        border: 0.2mm solid #0052cc;
        border-radius: 1mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }
    Settings-Container{
        background-color: #ecf5fb;
        margin-top: 1mm;
        margin-left: 1mm;
        margin-right: 1mm; 
        padding: 4mm;
        border: 0.2mm solid #0052cc;
        border-radius: 1mm;
        /*box-shadow: 0pt 0pt 1.5pt 1.5px rgba(0,82,204,0.48);*/
    }
    Settings-Label{
        color: #0052CC;        
        font-size: 3mm;
        margin: 0px;
    }
    Setting-Label-Container{
        border: none;
        border-bottom: 0.25mm solid #0052cc;
        margin: 0mm 0mm 0mm 0mm;
    }
    Button-Cont{
        background: cn1-round-border;
        border: 0.3mm solid #0052cc;
        background: #F5F5F5;
        text-align:center;
        padding:0.8mm;
        margin-bottom: 1mm;
    }
    Button-Call{
        background: cn1-round-border;
        border: 0.3mm solid whitesmoke;
        background: #F5F5F5;
        text-align:center;
        padding:0.5mm;
        margin-right: 2mm;
    }
    ThemeBlueBig{
        color: #0052cc;
        font-size: 3mm;
    }
    ThemeBlueMedium{
        color: #0052cc;
        font-size: 2.5mm;
    }
    LightBlueBig{
        color: #0099ff;
        font-size: 3mm;
    }
    LightBlueMedium{
        color: #0099ff;
        font-size: 2.5mm;
    }
    DarkRedBig{
        color: darkred;
        font-size: 3mm;
    }
    DarkRedMedium{
        color: darkred;
        font-size: 2.5mm;
    }
    DarkGreenBig{
        color: darkgreen;
        font-size: 3mm;
    }
    DarkGreenMedium{
        color: darkgreen;
        font-size: 2.5mm;
    }
    RedBig{
        color: red;
        font-size: 3mm;
    }
    RedMedium{
        color: red;
        font-size: 2.5mm;
    }
    Bottoms{
        border: none;
        border-bottom: 0.25mm solid #0052cc;
        padding: 1mm;
    }
    List-emptyLabel{
        font-size: 2.4mm;
        font-style: italic;
        color: #999999;
    }
    ListElements{
        border: none;
        border-bottom: 0.1mm solid #cccccc;
        padding: 1mm;
    }
    
    Totals{
        border: none;
        border-top: 0.1mm solid black;
        border-bottom: 0.1mm solid black;
        padding: 1mm 2mm 1mm 2mm;
        margin-bottom: 2mm;
    }
}
